/* Root */

:root {
    --white: white;
    --purple: #aa2afa;
    --blue: #0a5cf5;
    --black: black;
  }

  /* Universal Selectors */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    font-family: arial, sans-serif;
  }

  /* Header */

  header {
    background: var(--purple);
    height: auto;
  }


  /* Jen's Code */

  .jens_code {
    float: left;
    padding-left: 20px;
    color: var(--white);
  }

  /* Navigation Bar */

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 10px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    position: relative;
    padding-top: 10px;
    margin: 10px;
  }


  nav ul li a {
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
  }

  .footer-links a {
    color: var(--white);
    margin-bottom: 8px;
  }

  nav ul li a:hover {
    color: var(--blue);
  }

  /* Banner */

  .banner {
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/code_pic.jpg");
    background-size: cover;
    background-position: center;
  }

  /* Main */

  main {
    padding: 40px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Body */

  body {
    margin: 0;
    font-family: arial, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* About Me Section */

  .about-me {
    text-align: center;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .profile {
    color: var(--white);
    background-size: cover;
    padding: 32px 0 0;
    max-width: 150px;
  }

  .columns {
    display: flex;
    margin: 5px;
    background-color: var(--white);
    border-radius: 8px;
  }

  /* H2 Headers */

  h2 {
    position: relative;
    text-align: center;
    color: var(--blue);
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

   h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
  }

    /* Footer Headers */

  h4 {
    position: relative;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

   h4::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
  }

  /* Flex-box for Portfolio Section */

  .work-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }

  /* Projects */

  .project1, .project2, .project3, .project4 {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  /* Projects Hover and Pop */

  .project1:hover, .project2:hover, .project3:hover, .project4:hover {
    transform: scale(1.01);
    opacity: 0.5;
  }

  /* H3 Headers */

  h3 {
    text-align: center;
  }

  /* Center Text */

  p {
    text-align: center;
  }

  /* Contact Me Section */

  .contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
  }

  .contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--white);
  }

  .right {
    padding: 25px 40px;
  }

  .text-field {
    width: 100%;
    padding: 6px 12px;
    outline: none;
    border: 2px solid var(--white);
    background-color: #E6E6E6;
    font-size: 18px;
    margin-bottom: 22px;
  }

  .message-box {
    min-height: 150px;
  }

  /* Contact Me Button */

  .send-button {
    width: 100%;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--blue);
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--white);
  }
  .send-button:hover {
    background-color: var(--purple);
  }

  .left {
    height: 200px;
  }

  /* Footer */

  .footer-box {
    background-color: var(--purple);
    padding: 64px 0 64px 0;
  }
  .footer-style {
    width: 80%;
    height: 200px;
    background-color: var(--purple);
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    margin-right: 64px;
  }
  .footer-links h4 {
    margin-bottom: 32px;
  }

  .footer-links a:hover {
    color: var(--blue);
  }


  /* Media Query */

  /* Desktop */

  @media screen and (max-width: 4500px) {
    .contact-box {
      grid-template-columns: 1fr;
    }
    .left {
      height: 200px;
    }
    .footer {
      height: 50px;
    }
  }

  /* Tablet */

  @media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .nav-bar {
      flex-direction: column;
    }
    .jens_code {
      margin-bottom: 0;
    }
    main {
      padding-right: 20px;
    }

    .columns {
      flex-direction: column;
      align-items: center;
    }
    .footer-style {
      padding-top: 32px;
    }
    .work-box {
      flex-direction: column;
    }
  }

  /* Mobile */

  @media screen and (max-width: 375px) {
    .work-box {
      flex-direction: column;
    }
  }
